main{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(127, 127, 127, 20%);
    max-width: 1500px;
    min-height: 500px;
    margin: 5px auto 0px auto;
    border: 2px solid gray;
}

main div#info, div#dados, div#total, div#troca{
    margin: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

main div#info{
    width: 350px;
}

main div#dados{
    width: 350px;
}

main div form{
    display: flex;
    flex-direction: column;
    margin: 5px 30px 5px 10px;
}

main div form label{
    margin: 12px 0px 2px 0px;
}

main div form input{
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
}

main div form input#submit{
    margin-top: 30px;
}

main div form input#submit:hover{
    cursor: pointer;
    background-color: gray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.479);
}

main div#info h2{
    text-align: center;
    margin: 5px 0px 15px 0px;
}

main div#info h3{
    margin: 20px 0 2px 5px;
}

main div#info p{
    margin: 0px 0 5px 5px;
}

main div#botoes{
    display: flex;
    flex-direction: column;
}

main div#botoes button{
    height: 30px;
    width: 250px;
    margin: 10px auto 12px auto;
    border: 1px solid black;
    border-radius: 5px;
}

main div#botoes button:hover{
    cursor: pointer;
    background-color: gray;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.479);
}

/*Remover contador de números dos inputs*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}