* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #FFF;
    margin: 20px 0;
}

.neutralArea {
    width: 750px;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid #FFF;
    margin-bottom: 50px;
}

.disco {
    background-color: #000;
    color: #FFF;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    margin: auto;
}

#disco1{
    width: 150px;
    height: 25px;
    background-color: blue;
}

#disco2{
    width: 125px;
    height: 25px;
    background-color: red;
}

#disco3{
    width: 100px;
    height: 25px;
    background-color: green;
}

.disco.dragging {
    opacity: 0.5;
}

.torres{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 750px;
}

.linha1, .linha2, .linha3{
    border: 1px dotted #FFF;
    margin-bottom: 5px;
    width: 200px;
    height: 27px;
}

.hover {
    background-color: rgba(0, 0, 0, 0.35);
}

.correct{
    margin: 1px solid green;
}

footer {
    margin-top: 20px;
    color: #FFF;
    font-size: 13px;
}