/*
font-family: 'Bebas Neue', cursive;
font-family: 'Lato', sans-serif;
*/

/* NAV AND HEADER */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --black: #0C0D0C;
    --brown: #261901;
    --light-brown: #403001;
    --yellow: #D9AD2B;
    --light-yellow: #BFA34E;
}

nav.topo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    width: 90.5vw;
    position: fixed; top:0; left:4.5%;z-index: 9999;
}

nav.topo div a img#logo{
    width: 250px;
}

nav.topo div ul{
    display: flex;
    list-style: none;
}

nav.topo div ul li a{
    text-decoration: none;
    color: var(--light-yellow);
    margin: .8vw 1vw 1vw 1vw;
    border: 1.8px solid var(--light-yellow);
    font-size: 1.2rem;
    border-radius: 1px;
    padding: .5vw 1.5vw;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

nav.topo div ul li a:hover{
    transition: .5s;
    background: var(--light-brown);
}

header{
    position: relative;
    background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,.5)), url(../assets/imagem-capa.jpg);
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100vh;
    border-top: 5px solid var(--yellow);
    box-shadow: 0 4px 6px var(--brown);
}

header div{
    font-family: 'Lato', sans-serif;
    font-size: xx-large;
    color: var(--light-yellow);
    position: absolute;
    text-align: center;
    width: 90%;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

header div h2{
    font-size: xx-large;
}

header div p{
    font-size: x-large;
}

/* ----- MAIN ----- */

/* ----- Um pouco sobre o escritório ----- */

div#sobre{
    display: flex;
    flex-direction: column;
    background: var(--light-yellow);
    font-family: 'Lato', sans-serif;
    color: var(--brown);
}

div#sobre h2{
    font-size: 3.5rem;
    margin: 5vw 5vw 3.2rem 5vw;
    border-bottom: 4px solid var(--brown);
}

div#sobre div#conteudo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    margin: 0 5vw 3vw 5vw;
}

div#sobre div#conteudo h3{
    font-size: 2.2rem;
    border-bottom: 2px solid var(--brown);
    margin-bottom: 1rem;
}

div#sobre div#conteudo p{
    text-align: justify;
    max-width: 40vw;
    font-size: 1.1rem;
}

div#sobre div#right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ----- Áreas de atuação ----- */

div#atuacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--brown);
    font-family: 'Lato', sans-serif;
    color: var(--light-yellow);
    box-shadow: 0 7px 5px var(--light-yellow) inset,  0 -7px 5px var(--light-yellow) inset;
}

div#atuacao h2{
    font-size: 3.5rem;
    border-bottom: 4px solid var(--light-yellow);
    margin: 3rem;
}

div#atuacao div.campo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div#atuacao div.campo div{
    border: 1px solid var(--light-yellow);
    border-radius: 2px;
    text-align: center;
    width: 15rem;
    height: 20rem;
    margin: 2.5vw;
}

div#atuacao div.campo div ion-icon{
    width: 2rem;
    height: 2rem;
    padding: 1rem 1rem .5rem 1rem;
}

div#atuacao div.campo div h4{
    margin-bottom: 2.5rem;
}

/* ----- Profissionais ----- */

div#profissionais{
    display: flex;
    flex-direction: column;
    background: var(--light-yellow);
    font-family: 'Lato', sans-serif;
    color: var(--brown);
}

div#profissionais p.nome{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

div#profissionais div#funcionarios div{
    margin-bottom: 3rem;
}

div#profissionais div#titulo-socios h2,
div#titulo-funcionarios h2{
    font-size: 3.5rem;
    margin: 5vw 5vw 3.2rem 5vw;
    border-bottom: 4px solid var(--brown);
}

div#profissionais div#socios{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div#profissionais div#socios div#socio01, div#socio02{
    padding: 2.5rem 2.5rem 0 2.5rem;
}

div#profissionais div#socios div img{
    width: 20vw;
    border-radius: 3px;
}

div#profissionais div#funcionarios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    margin: auto;
}

div#profissionais div#funcionarios div{
    padding: 1rem;
}

div#profissionais div#funcionarios div img{
    width: 15vw;
    border-radius: 3px;
}





/* ----- Contato ----- */





/* ----- Footer ----- */