*{
    text-align:center;
  }
  
  #paragrafoMeio{
    margin-top: 30px;
  }
  
  hr{
    max-width: 400px;
  }
  
  .hrPequeno{
    max-width: 250px;
  }
  
  .container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    height: 120px;
    width: 120px;
  }
  
  .container input{
    margin: 2.5px;
  }
  
  p, input, button{
    font-weight: bold;
  }